<div class="col-sm-3 col-md-2 sidebar animate fadeIn" ng-cloak>
  <div ng-repeat="item in nav.menuItems" class="sidenav-category" ng-hide="nav.loading">
    <h5>{{item.label}}</h5>
    <ul class="nav">
      <li ng-repeat="item2 in item.menuItems">
        {{item2.label}}
        <ul class="nav">
          <li ng-repeat="subitem in item2.menuItems" ng-class="{'active': nav.isActive(subitem)}">
            <a ng-click="nav.click(subitem)"><span class="{{subitem.cssClass}}"></span>{{subitem.label}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
